# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List development environment open source tools used in data science
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
| -------------|
| Jupyter Notebooks |
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes in hours : {hours:.2f}")

200 minutes in hours : 3.33

## Author
Akila Premathilake